.header {
  background-color: #f5f5f5;
  padding: 10px 20px;

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      font-size: 24px;
      font-weight: bold;

      a {
        text-decoration: none;
        color: #687cc8;
      }
    }

    .nav-links {
      list-style: none;
      display: flex;

      li {
        margin-right: 10px;

        a {
          text-decoration: none;
          color: #333;
          padding: 5px;
          border-radius: 5px;
          font-weight: 500;

          &:hover {
            background-color: #eee;
          }
        }
      }
    }
    
    .active{
      font-weight: bold !important;
      color: #687cc8 !important;
      background-color: #eee;
    }
  }
}
